# Node modules
node_modules

# Environment variables
.env

#MONGO_URI=mongodb+srv://XXXXXX:xxxxx@xxxxx.osteb.mongodb.net/?retryWrites=true&w=majority&appName=XXXXXX
#JWT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Logs
*.log

# System files
.DS_Store
